-e svn+http://code.djangoproject.com/svn/django/trunk/#egg=django
South
BeautifulSoup<3.1
django-tagging
Markdown
Pygments
python-dateutil

-e git+git://github.com/django-extensions/django-extensions.git#egg=django_extensions
-e git+git://github.com/nathanborror/django-basic-apps.git#egg=basic
-e git+git://github.com/montylounge/django-proxy.git#egg=django_proxy
-e hg+https://bitbucket.org/ubernostrum/django-contact-form/#egg=contact_form
-e git+git://github.com/sunlightlabs/django-honeypot.git#egg=honeypot
-e git+git://github.com/hbussell/django-slimmer.git#egg=django-slimmer
-e git+git://github.com/brosner/django-oembed.git#egg=oembed
-e git+git://github.com/mikl/django-google-analytics.git#egg=google_analytics

