{% load archive blog cache i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ BLOG_SETTINGS.site_name }}{% endblock %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=100; chrome=1" />
    {% block meta %}
    <meta name="keywords" content="{{ BLOG_SETTINGS.meta_keywords }}">
    <meta name="description" content="{{ BLOG_SETTINGS.meta_description }}">
    <meta name="author" content="{{ BLOG_SETTINGS.author_name }}">
    {% endblock %}
    <meta name="copyright" content="{{ BLOG_SETTINGS.copyright }}">
  
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" /> 
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/layout.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/pygments.css" />
    
    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
</head>
<body class="{% block body_class %}default{% endblock %}">
  <div id="container">
    <div id="header" class="clearfix">
    {% block header %}
        <div id="logo">
            <h1><a href="/">{{ BLOG_SETTINGS.site_name }}</a></h1>
        </div>
        {% if BLOG_SETTINGS.site_slogan %}
        <h5 class="slogan">{{ BLOG_SETTINGS.site_slogan }}</h5>
        {% endif %}
    {% endblock %}
    </div>

    <div id="body" class="clearfix">
    {% block body %}
        <div id="main_content">
            {% block content %}{% endblock %}
        </div>
        <div id="sidebar">
          <div id="sidebar-about" class="sidebar-block">
            <h4>{% trans "About" %}</h4>
            {% if BLOG_SETTINGS.about_text %}
            <p class="about_text">{{ BLOG_SETTINGS.about_text|safe }}</p>
            {% endif %}
          </div>

          <div id="sidebar-categories" class="sidebar-block">
            {% cache 3600 "base.category_list" %}
            {% get_blog_categories as category_list %}
            {% if category_list %}
            <h4>{% trans "Categories" %}</h4>
            <ul>
              {% for category in category_list %}
              <li><a href="{% url basic.blog.views.category_detail category.slug %}" title="{{ category.title }}">{{ category.title }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endcache %}
          </div>

          <div id="sidebar-post-list" class="sidebar-block">
            {% cache 3600 "base.post_list" %}
            {% get_latest_posts 10 as post_list %}
            {% if post_list %}
            <h4>{% trans "Recent Posts" %}</h4>
            <ul class="recent-posts">
            {% for post in post_list %}
            <li><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endcache %}
          </div>

          <div id="sidebar-archive" class="sidebar-block">
            {% cache 7200 "base.archive" %}
            {% get_post_archive as dates %}
            {% if dates %}
            <h4>{% trans "Archive" %}</h4>
            <ul class="archive">
            {% for date in dates %}
            <li><a href="{% url blog_archive_month date|date:"Y" date|date:"b" %}" title="{{ date|date:"F Y" }}">{{ date|date:"F Y" }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endcache %}
          </div>
        </div>
    {% endblock %}
    </div>

    <div id="footer" class="clearfix">
        {% if BLOG_SETTINGS.footer_text %}
        <p class="footer-text">{{ BLOG_SETTINGS.footer_text }}</p>
        {% endif %}
        <div class="content">{% block footer %}{% endblock %}</div>
    </div>
  </div>
  {% block extra_js %}{% endblock %}
</body>
</html>

